*.log
*.pid
*.pyc

**/.idea

web2py/applications/Vesuvius/databases
web2py/applications/Vesuvius/errors
web2py/applications/Vesuvius/sessions

web2py/httpserver.pid
web2py/parameters_8000.py
web2py/applications/welcome/**
web2py/applications/admin/**
web2py/applications/examples/**

web2py/welcome.w2p
