*.log
*.pid
*.pyc
*.bak

**/.idea

applications/Vesuvius/databases
applications/Vesuvius/errors
applications/Vesuvius/sessions

web2py/httpserver.pid
web2py/parameters_8000.py
applications/welcome/**
applications/admin/**
applications/examples/**

web2py/welcome.w2p
