{{extend 'layout.html'}}

<!-- Load qQuery UI for tags to work. If you are using a debugger (Firebug etc) this will be slower
    but not normally noticeable with normal usage-->
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/tagit.ui-zendesk.css')}}">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
<div class="createDivOne">
    <h3>Project Information</h3>
    <p>To create a new project, please fill in the required fields below:</p>
    <br>
    <div id="partOneForm">
        {{=LOAD('default', 'createPartOne.load', ajax=True, user_signature=True, target='partOneForm')}}
    </div>
</div>

<div class="createDivTwo hidden">
    <h3>Requirements</h3>
    <p>What do you require of people transcribing your documents? For example this can be 'date' or 'author' or 'full transcription'</p>
    <div id="partTwoForm">
        {{=LOAD('default', 'createPartTwo.load', ajax=True, user_signature=True, target='partTwoForm')}}
    </div>
</div>

<div class="createDivThree hidden">
    <h3>Document Images</h3>
    <p>Upload the documents you want transcribed here. (You can add more later if you like)</p>
    <p>Supported Image Formats: jpeg, png, jpg, gif, bmp</p>
    <div id="partThreeForm">
        {{=LOAD('default', 'createPartThree.load', ajax=True, user_signature=True, target='partThreeForm')}}
    </div>
    <div id="documentsDisplay">
        {{=LOAD('default', 'displayDocuments.load', ajax=True, user_signature=True, target='documentsDisplay')}}
    </div>
</div>
