{{extend 'layout.html'}}

<div class="createDivOne">
    <h3>Create a new Project</h3>
    <p>To create a new project, please fill in the required fields below</p>
    <div id="partOneForm">
        {{=LOAD('default', 'createPartOne.load', ajax=True ,target='partOneForm')}}
    </div>
</div>

<div class="createDivTwo hidden">
    <h3>Requirements</h3>
    <p>What do you require of people transcribing your documents? For example this can be 'date' or 'author' or 'full transcription'</p>
    <div id="partTwoForm">
        {{=LOAD('default', 'createPartTwo.load', ajax=True ,target='partTwoForm')}}
    </div>
</div>

<div class="createDivThree hidden">
    <h3>Document Images</h3>
    <p>Upload the documents you want transcribed here. (You can add more later if you like)</p>
    <div id="partTwoForm">
        {{=LOAD('default', 'createPartThree.load', ajax=True ,target='partThreeForm')}}
    </div>
</div>

