{{extend 'layout.html'}}
<div>
    <h3>
        How to create a project
    </h3>
    <ol>
        <li>You need an account to create a project on Vesuvius. You can log in or create an account from the ‘login’ button in the nav bar.</li>
        <li>Select the ‘create’ button in the nav bar.</li>
        <li>Fill out the required fields in the form. You can navigate back and forth to amend the fields.</li>
        <li>Choose your images and select the upload button to add the images to the website.</li>
        <li>After adding descriptions, press submit and you will be redirected to your dashboard where you can view your project.</li>
    </ol>
    </div>

<div>
    <h3>
        How to transcribe a document image
    </h3>
    <ol>
        <li>You need to be logged in to your account in order to transcribe. You can log in or create an account from the ‘login’ button in the nav bar.</li>
        <li>Search for a project by either selecting ‘browse’, or using the search field in the nav bar.</li>
        <li>On finding a project selecting ‘view’ will show all the document images in the project.</li>
        <li>Select ‘transcribe’ on any of the available document images.</li>
        <li>Fill out the requirements and press ‘submit’ to save and submit your transcription.</li>
        <li>You can view your submitted transcription on ‘My dashboard’ page, from the nav bar.</li>
    </ol>
    </div>

<div>
    <h3>
        How to review submitted transcriptions
    </h3>
    <ol>
        <li>You need to be logged in to your account to review submitted transcriptions.</li>
        <li>Your project needs to have transcriptions submitted by other users before you can review.</li>
        <li>Navigate to 'My Projects’ from the nav bar.</li>
        <li>Underneath the projects that have submitted transcriptions will have a button saying ‘review’ which you can select.</li>
        <li>On this page you can switch between the transcriptions and compare them, navigating using the arrows. </li>
        <li>You can choose to either accept one transcription, or reject all the transcriptions. You can change your mind after you have made your choice, by choosing accept on another transcription.</li>
    </ol>
    </div>
