{{extend 'layout.html'}}
{{if request.vars.created is not None:}}
        <!-- Popup for when a new project has just been created -->
        <div class="alert alert-success">
            <p>Congratulations, you have successfully created a new project! Now you need to wait for users to transcribe your project. Once your project has some transcriptions you can review and accept the best ones.</p>
            <p>Once a document has been transcribed three times, it becomes 'done', no one else will be able to transcribe it after that.
                Once all the documents are done, the project will automatically close and you will be able to review the transcriptions</p>
            <p>Don't forget to {{=A('view your new project and open it.', _href='#'+request.vars.created)}}</p>
        </div>
{{pass}}
<div class="alert alert-info">
    <p>Welcome to your dashboard, here you can do all things project related. You can review transcriptions to your projects, open and close your projects and visit your project pages. You are also able to view the transcriptions you have made on other projects.</p>
    <p>Opening a project makes it visible to other users and allows them to start transcribing it. Closing a project hides it from other users.</p>
</div>
<div class="dashProjList">
    {{=LEGEND(H2('My Projects'))}}
    {{  # Indicate to project list that we are on the dashboard
        dash = True
    }}
    {{include 'subviews/projectsList.html'}}
</div>
<br>
<div class="dashTranscriptions">
{{=LEGEND(H2('My Transcriptions'))}}
{{
        # Construct transcription table
        transTable = TABLE(THEAD(TR(TH('Content'), TH('State'), TH('Project'), TH('Document'))), _class='table table-striped')
        transTableContent = TBODY()
        for transcription in transcriptions:
            transTableContent.append(
                TR(TD(transcription.contributions.content),
                TD(transcription.contributions.state),
                TD(transcription.projects.title),
                TD(transcription.documents.title))
            )
        pass
        transTable.append(transTableContent)
        =transTable
}}
</div>
