{{extend 'layout.html'}}
{{if request.vars.created is not None:}}
        <div class="alert alert-success">
            TODO - Some stuff about completing a project
            {{=A('Open and View your new project.', _href='#'+request.vars.created)}}
        </div>
{{pass}}
<div class="alert alert-info">
    TODO - Some info text about the dashboard
</div>
<div class="dashProjList">
    {{=H2('My Projects')}}
    {{dash = True}}
    {{include 'subviews/projectsList.html'}}
</div>
<div class="dashTranscriptions">
{{=H2('My Transcriptions')}}
{{
        transTable = TABLE(THEAD(TR(TH('Content'), TH('State'), TH('Project'), TH('Document'))), _class='table table-striped')
        transTableContent = TBODY()
        for transcription in transcriptions:
            transTableContent.append(
                TR(TD(transcription.contributions.content),
                TD(transcription.contributions.state),
                TD(transcription.projects.title),
                TD(transcription.documents.title))
            )
        pass
        transTable.append(transTableContent)
        =transTable
}}
</div>