{{extend 'layout.html'}}

<!-- Load qQuery UI for tags to work. If you are using a debugger (Firebug etc) this will be slower
    but not normally noticeable with normal usage-->
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery-ui.css')}}">
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/tagit.ui-zendesk.css')}}">
<script src="{{=URL('static','js/jquery-ui.min.js')}}" type="text/javascript"></script>
<div class="createDivOne">
    <h3>Project Information</h3>
    <p class="alert alert-info">To create a new project, please fill in the required fields below:</p>
    <br>
    <div id="partOneForm">
        {{=LOAD('project', 'createPartOne.load', ajax=True, user_signature=True, target='partOneForm')}}
    </div>
</div>

<div class="createDivTwo hidden">
    <h3>Requirements</h3>
    <div class="alert alert-info">
        <p>What do you want people to transcribe from your documents? You can specify specific information (eg, 'Author', 'Publication Date', 'Title') or just ask people to transcribe the whole document in one (eg, 'All Text Content').</p>
        <p>To add a requirement, type your requirement into the area below. If you have multiple requirements click the '+' button after entering the first, then enter another, and so on...</p>
    </div>
    <div id="partTwoForm">
        {{=LOAD('project', 'createPartTwo.load', ajax=True, user_signature=True, target='partTwoForm')}}
    </div>
</div>

<div class="createDivThree hidden">
    <h3>Document Images</h3>
    <div class="alert alert-info">
        <p>Upload the documents you want transcribed here. You don't have to add them all in one go.</p>
        <p>Supported Image Formats: jpeg, png, jpg, gif, bmp</p>
    </div>
    <div id="partThreeForm">
        {{=LOAD('project', 'createPartThree.load', ajax=True, user_signature=True, target='partThreeForm')}}
    </div>
    <div id="documentsDisplay">
        {{=LOAD('project', 'displayDocuments.load', ajax=True, user_signature=True, target='documentsDisplay')}}
    </div>
</div>
