{{from IAPTlib import getTranscribeReviewForm}}
{{extend 'layout.html'}}
<div class="transHead">
    {{=A('Return to Project: ' + owningProject.title, _href=URL('review', vars=dict(id=owningProject.id)), _class='btn btn-default', _id='returnButton')}}
    <div class="headText">
        <div class="alert alert-info">
            Transcriptions to a document can be <b>accepted</b> or <b>rejected</b>.
            Only one transcription of a document can be accepted at a time. Accepting one transcription rejects the other transcriptions.
            If you don't like any of the transcriptions, you can reject all of them.
        </div>
        {{
            if acceptedTranscription == -1:
                acceptText = 'No transcriptions have been accepted'
                acceptClass = 'info'
            elif acceptedTranscription == 0:
                acceptText = 'All transcriptions have been rejected!'
                acceptClass = 'warning'
            elif acceptedTranscription > 0:
                acceptText = 'Transcription ' + str(acceptedTranscription) + ' has been accepted!'
                acceptClass = 'success'
            pass
            =DIV(acceptText, _class='alert alert-'+acceptClass)
        }}
    </div>
</div>
<div class="transContent">
    {{=LEGEND(H2(document.title))}}
    {{=DIV(document.description)}}
    <div>
        {{imgURL = URL('default', 'getImage', args=[document.image])}}
        <!-- No need for alt text as doc.description is displayed above anyway-->
        {{=DIV(A(IMG(_src=imgURL, _class='transImg reviewImg'), _href=imgURL, _class='image-popup'))}}
        {{
            count = 1
            display = int(request.vars.get('display', 1))
        }}
        <div class="transForm reviewForm">
        {{
            for trans in userTranscriptions:
                (form, c) = getTranscribeReviewForm(False, trans.transcriptions, True, count)
                acceptBtn = DIV(A('Accept', SPAN(' Transcription ' + str(count), _class='sr-only'), _href=URL(vars=dict(id=document.id, accepted=count)), _class='btn btn-success'), _class='acceptBtn')

                =DIV(LEGEND(H3('Transcription ' + str(count), XML('<small>of '+ str(len(userTranscriptions)) + '</small>'))), form, acceptBtn, _hidden=(count != display), _id='trans'+str(count))
                count += 1

            pass
            if count > 1:
                = A(SPAN('Previous', SPAN(' Transcription', _class='sr-only'), _class='arrow-label'), _href=URL(vars=dict(id=document.id, display=((display-2) % (count-1))+1)), _class='btn btn-info docNavArrow docNavArrow-small', _id='prevT')
                = A(SPAN('Next', SPAN(' Transcription', _class='sr-only'), _class='arrow-label'), _href=URL(vars=dict(id=document.id, display=(display % (count-1))+1)), _class='btn btn-info docNavArrow docNavArrow-small', _id='nextT')
            else:
                = DIV('There are no transcriptions!', _class='alert alert-error transForm reviewForm')
            pass
            =LEGEND()
        }}
        </div>
    </div>
</div>
<div class="transFoot">
    {{=A(SPAN('Reject All Transcriptions'), _href=URL(vars=dict(id=document.id, accepted='reject')), _class='btn btn-danger btn-lg')}}
    {{=DIV('Document ' + str(currentDoc) + ' of ' + str(totalDocs))}}
    {{if totalDocs > 1:
        =A(SPAN('Previous', SPAN(' Document', _class='sr-only'), _class='arrow-label'), _href=URL(vars=dict(id=prevDocID)), _class='btn btn-success btn-lg docNavArrow', _id='docPrevArrow')
        =A(SPAN('Next', SPAN(' Document', _class='sr-only'), _class='arrow-label'), _href=URL(vars=dict(id=nextDocID)), _class='btn btn-success btn-lg docNavArrow', _id='docNextArrow')
        pass
    }}
</div>
<script>
    var currentIndex = {{=display}};
    var total = {{=count}};
    $( "#prevT" ).click(function(e) {
        e.preventDefault();
        currentIndex = ((currentIndex-2).mod(total-1))+1;
        for (var i = 1; i <= total; i++) {
            if (currentIndex == i) {
                $ ( "#trans" + i).removeAttr("hidden");
            }else{
                $ ( "#trans" + i).attr("hidden", "hidden");
            }
        }
    });
    $( "#nextT" ).click(function(e) {
        e.preventDefault();
        currentIndex = (currentIndex.mod(total-1))+1;
        for (var i = 1; i <= total; i++) {
            if (currentIndex == i) {
                $ ( "#trans" + i).removeAttr("hidden");
            }else{
                $ ( "#trans" + i).attr("hidden", "hidden");
            }
        }
    });

</script>

<link href="/Vesuvius/static/css/magnific-popup.css" rel="stylesheet" type="text/css">
<script src="{{=URL('static','js/jquery.magnific-popup.js')}}"></script>
<script>
    $(document).ready(function() {
        $('.image-popup').magnificPopup({
            type: 'image',
            closeOnContentClick: true
        });
    });
</script>