{{extend 'layout.html'}}
        <div class="transHead">
            {{=A('Return to Project: ' + owningProject.title, _href=URL('view', vars=dict(id=owningProject.id)), _class='btn btn-default', _id='returnButton')}}
            <div class="headText">
                {{
                    if contributed is True:
                        =DIV('You have transcribed this document! You can\'t transcribe again.', _class='alert alert-success')
                    else:
                }}
                <div class="alert alert-info">
                    Transcribe the document in the text areas below.
                    You can navigate through the images by using the arrow buttons below, and enlarge any image by clicking on it.
                    When you're finished transcribing, please press the submit button.
                </div>
                <div class="alert alert-warning">
                    You do not have to fill all transcription boxes! And do not have to transcribe all document.
                    <br>
                    Your transcription is only saved once you click the 'Submit Transcription' button!
                    <b>Changing document will loose your transcription if you haven't submitted it.</b>
                    <br>
                    You may only transcribe a document once!
                </div>
                {{pass}}
            </div>
        </div>
        <div class="transContent">
        {{=H2(doc.title)}}
        {{=DIV(doc.description)}}
        <div>
            {{=DIV(IMG(_src=URL('default', 'getImage', args=[doc.image]), _alt=doc.description), _class='transImg')}}
            {{
                if not contributed:
                    =DIV(form, _class='transForm')
                pass
            }}
        </div>
        </div>
        <div class="transFoot">
            {{=DIV('Document ' + str(currentDoc) + ' of ' + str(totalDocs))}}
            {{=A(SPAN('Previous', SPAN(' Document', _class='sr-only'), _class='arrow-label'), _href=URL(vars=dict(id=prevDocID)), _class='btn btn-success btn-lg docNavArrow', _id='docPrevArrow')}}
            {{=A(SPAN('Next', SPAN(' Document', _class='sr-only'), _class='arrow-label'), _href=URL(vars=dict(id=nextDocID)), _class='btn btn-success btn-lg docNavArrow', _id='docNextArrow')}}
        </div>