<div class="docList">
    {{for doc in docs:}}
        <div class="projDocDiv">
            {{=H3(doc.title)}}
            {{=IMG(_src=URL('default', 'getImage', args=[doc.image]), _alt=doc.description)}}
            {{
                if 'review' in locals() and review is True:
                    =DIV('This document is ', B(doc.state), _class='alert alert-info')
                    =DIV(A('Review', _href=URL('project', 'reviewDoc', vars=dict(id=doc.id)), _class='btn btn-primary'))
                else:
                    if doc.state == documentStates[1]:
                        =DIV('This document is Done!', _class='alert alert-info')
                    else:
                        =DIV(A('Transcribe', _href=URL('project', 'transcribe', vars=dict(id=doc.id)), _class='btn btn-primary'))
                    pass
                pass
            }}
        </div>
    {{pass}}
</div>