.homeProjLeft {
    float: left;
    width: 50%;
}

.homeProjRight {
    float: right;
    width: 50%;
}
.projectsListItem{
    height: auto;
    clear: both;
    padding-bottom: 10px;
    overflow: auto;
}
.projImgCol{
    width: 24%;
    max-width: 200px;
    float:left;
    text-align: center;
 }

.projImgCol img {
    width: 100%;
}

.projInfoCol{
    float: left;
    width: 74%;
    height: 100%;
    padding-left: 2%;
}

.projInfoCol h4 {
    margin-top: 1px;
}

.projDocDiv {
    text-align: center;
    width: 15%;
}

.transImg {
    width: 49%;
    float: left;
}

.transForm {
    width: 49%;
    float: right;
}

.docNavArrow {
    padding-top: 20px;
    height: 53px;
    min-width: 60px;
    position: absolute;
    top: 50%;
}
#docPrevArrow {
    left: 1%;
}

#docNextArrow {
    right: 1%;
}
#docPrevArrow:before {
    font-size: 50pt;
    content: "<";
}
#docNextArrow:after {
    font-size: 50pt;
    content: ">";
}

#docNextArrow:hover {
    padding-right: 22px;
}

#docPrevArrow:hover {
    padding-left: 22px;
}

.docNavArrow span {
    display: none;
    font-size: 30pt;
}

.docNavArrow:hover > span {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.transContent {
    padding-left: 85px;
    padding-right: 85px;
}

.transFoot {
    clear: both;
    text-align: center;
}

.controls * {
    max-width: 100%;
}

.transForm form .control-label {
    width: 25%;
}

.transForm form .controls {
    margin-left: 30%;
}

.dashProjListItem{
    width: 49%;
    float: left;
}

.dashProjList {
    width: 100%;
}

.dashTranscriptions {
    clear: both;
}