.homeProjLeft {
    float: left;
    width: 50%;
}

.homeProjRight {
    float: right;
    width: 50%;
}
.projectsListItem{
    width: 50%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    overflow: auto;
}
.projImgCol{
    width: 24%;
    max-width: 200px;
    float:left;
    text-align: center;
 }

.projImgCol img {
    width: 100%;
}

.projInfoCol{
    float: right;
    width: 74%;
    height: 100%;
    padding-left: 2%;
}

.projInfoCol h4 {
    margin-top: 1px;
}

.homeList > .projectsList > .projectsListItem {
    width: 100%;
}

.projDocDiv {
    text-align: center;
    width: 15%;
    float:left;
    margin-left: 2%
}

.transImg {
    width: 49%;
    float: left;
}

.transForm {
    width: 49%;
    float: right;
}

.transHead #returnButton {
    float: left;
    width: 10%;
}
.transHead .headText {
    float: left;
    width: 80%;
    padding-left: 10px;
}

.transHead .headText div{
    margin-bottom: 5px;
}

.docNavArrow {
    height: 53px;
    min-width: 40px;
    position: absolute;
    top: 50%;
}
#docPrevArrow {
    left: 1%;
}

#docNextArrow {
    right: 1%;
}
#docPrevArrow, #prevT {
    background-image: url("../images/left.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#docNextArrow, #nextT {
    background-image: url("../images/right.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.docNavArrow .arrow-label {
    display: none;
    font-size: 30pt;
    text-decoration: none;
}

#docPrevArrow .arrow-label{
    margin-left: 45px;
}

#docNextArrow .arrow-label{
    margin-right: 45px;
}

#docNextArrow, #nextT {
    background-position: right;
}

.docNavArrow:hover  .arrow-label, .docNavArrow:focus .arrow-label {
    display: block;
}

.transContent {
    clear: both;
    padding-left: 85px;
    padding-right: 85px;
}

.transFoot {
    clear: both;
    text-align: center;
}

.controls * {
    max-width: 100%;
}

.transForm form .control-label {
    width: 25%;
}

.transForm form .controls {
    margin-left: 30%;
}

.dashTranscriptions {
    clear: both;
}

.dashNotification {
    margin-bottom: 0px;
    padding: 1px;
    text-align: center;
}

#liveresults {
    background-color: white;
    width: 300px;
    padding: 4px 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 400px;
    overflow: auto;
    position: absolute;
    z-index: 99;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

/* Don't touch. Magic. */
.liveSearchResult:first-child {
    border-top: none;
    padding-top: 10px;
}

#liveresults a{
    color:#333;
}

.liveSearchResult {
    position: relative;
    display: block;
    height: 100px;
    overflow: hidden;
    border-top: 1px solid black;
    padding-top: 9px;
    padding-bottom: 10px;
}

/*
.liveSearchResult:hover {
    background-color: #C4E1FF;
}*/

.liveSearchResultTileTitle {
    position: absolute;
    left: 80px;
    top: 15px;
    margin: 0px;
}

.liveSearchResultTileImg {
    position: absolute;
    left: 5px;
    top: 15px;
    border: 1px solid #333;
}

.liveSearchResultTileImg img {
    width: 60px;
    height: 90px;
}

.liveSearchResultTileDesc {
    position: absolute;
    left: 80px;
    top: 40px;
    text-overflow: ellipsis;
}

/* Taken from bootstrap 3*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

input:read-only, textarea:read-only {
    background-color: whitesmoke;
    cursor: text;
}

.docNavArrow-small {
    height: 25px;
    min-width: 10px;
}

#nextT .arrow-label{
    margin-right: 18px;
}

#prevT .arrow-label{
    margin-left: 18px;
}

#prevT {
    left: 37%;
}

#nextT {
    right: 11%;
}

.docNavArrow-small .arrow-label {
    font-size: 18pt;
}

.acceptBtn  {
    text-align: center;
}

.reviewImg {
    width: 30%;
}

.reviewForm {
    width: 63%;
}

.docNavArrow:hover, .docNavArrow:focus{
    background-position: 0 0px;
}

.docNavArrow .arrow-label {
    position: relative;
    top: 15px;
}

.docNavArrow-small .arrow-label {
    top: 0px;
}

.create-form-label {
    float: left;
    padding-right: 30px;
    text-align: right;
    display: block;
    width: 120px;
    height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    vertical-align: middle;
}

.create-form-item {
    margin-bottom: 20px;
}

.create-form-item .error_wrapper {
    width: 120px;
    left: 150px;
}

.create-form-item ul {
    width: 300px;
    position: relative;
}